* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#vid-background {
    position: absolute;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

img {
    display: block;
    width: 100%;
}

#name {
    color: red;
    z-index: 1;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
    background-image: url('assets/video/Abstract-Black.mp4');
}

#home > h2 {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: whitesmoke;
}

/* The navigation bar */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed; /* Set the navbar to fixed position */
    background-color: #333;
    top: 0; 
    width: 100%;
}

#navbar ul {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}
  
/* Links inside the navbar */
#navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: #ddd;
    color: black;
}

/* Contact section */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 5 2rem;
}

/* Project Section */
#projects {
    text-align: center;
    padding: 3rem 2rem;
    margin: 5px
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 5 auto;
    margin-bottom: 10rem;
}

.project-title {
    color: black;
}

.project-pic {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}


footer {
    font-weight: 300;
    display: inline-block;
    justify-content: space-evenly;
    padding: 2rem;
    color: #f2f2f2;
    background-color: #333;
    border-top: 4px solid red;
    width: 100%;

}

.social-links {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    list-style: none;
    text-align: right;
}

footer a {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 14px 16px;
    color: #f2f2f2;
    list-style: none;
    text-decoration: none;
}

.copy-name {
    justify-content: flex-start;
    float: left;
}